body {
  margin-top: 219px;
  @include media($tablet) {
    margin-top: 166px;
  }
}

.site-header {
  background: $bam;
  color: white;
  border-bottom: 10px solid $bg-blue-light;
  padding: 25px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
  transition: padding 0.2s ease;
  &.compact {
    padding: 0;
    .site-branding {
      line-height: 0;
      .site-title {
        display: none;
        &.site-title--compact {
          display: block;
          margin: 14px 0;
        }
        img {
          width: 60px;
        }
      }
    }
    .main-navigation {
      margin-top: 32px;
    }
    @include media($tablet) {
      .site-branding {
        .site-title {
          margin: 15px 0 10px 20px;
          display: none;
          &.site-title--compact {
            display: block;
          }
          img {
            width: 60px;
          }
        }
      }
      .main-navigation {
        margin-top: 0;
        .menu-toggle {
          top: 26px;
        }
        ul.nav-menu {
          top: 121px;
        }
      }
    }
  }
  @include media($tablet) {
    padding: 0;
  }

  .site-branding {
    @include span-columns(2);
    @include media($tablet) {
      @include span-columns(12);
    }
    .site-title {
      margin: 20px 0;
      &.site-title--compact {
        display: none;
      }
      @include media($tablet) {
        margin-left: 20px;
      }
      img {
        width: 125px;
        transition: all 0.2s ease;
      }
    }
  }


  .main-navigation {
    @include span-columns(10);
    margin-top: 60px;
    font-size: 18px;
    &.toggled ul.nav-menu {
      display: block;
    }
    @include media($tablet) {
      background: $bam;
      @include span-columns(12);
      margin-top: 0;
    }
    .menu-toggle {
      display: none;
      @include media($tablet) {
        display: block;
        position: absolute;
        top: 63px;
        right: 40px;
        transition: all 0.2s ease;
      }
    }
    .hamburger-title {
      display: block;
      font-size: 13px;
    }
    ul.nav-menu {
      @include row;
      float: right;
      @include media($tablet) {
        float: none;
        display: none;
        position: fixed;
        top: 169px;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        background: $bam;
        padding: 20px;
        li.menu-item-has-children {
          a {
            padding: 10px 0 0;
          }
        }
      }
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        position: relative;
        display: inline;
        float: left;
        margin-right: 34px;
        &:last-child {
          margin-right: 0;
        }
        @include media($large) {
          margin-right: 20px;
        }
        @include media($tablet) {
          display: block;
          margin: 0;
          float: none;
          a {
            &:after {
              display: none;
            }
          }
        }
        &.current-menu-item, &.current-menu-parent {
          a {
            &:after {
              content: "";
              position: absolute;
              width: 33%;
              height: 2px;
              bottom: 0;
              left: 33%;
              border-bottom: 2px solid $bg-blue-light;
            }
          }
        }
        a {
          position: relative;
          display: block;
          text-decoration: none;
          color: $menu-link;
          padding: 10px 0 15px;
          &:after {
            content: "";
            position: absolute;
            width: 33%;
            height: 2px;
            bottom: 0;
            left: 33%;
            border-bottom: 2px solid transparent;
            transition: all 0.3s ease;
          }
          &:hover {
            &:after {
              border-bottom: 2px solid $bg-blue-light;
            }
          }

        }
        &:hover > ul.sub-menu {
          display: block;
        }
      }
      ul.sub-menu {
        z-index: 100;
        display: none;
        position: absolute;
        min-width: 250px;
        left: 50%;
        transform: translate(-50%, 0);
        background: #fff;
        border-bottom: 8px solid $bg-blue-light;
        box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);
        padding: 0 20px;
        text-align: center;
        font-size: 16px;
        @include media($tablet) {
          display: block;
          position: relative;
          width: 100%;
          text-align: left;
          background: transparent;
          border-bottom: none;
          box-shadow: none;
        }
        li {
          display: block;
          float: none;

          margin: 10px 0;
          a{
            color: $bam;
            padding: 10px 0;
            @include media($tablet) {
              color: #fff;
            }
            &:after {
              content: "";
              position: absolute;
              width: 33%;
              height: 2px;
              bottom: 0;
              left: 33%;
              border-bottom: 2px solid transparent;
            }
            &:hover {
              &:after {
                border-bottom: 2px solid $bg-blue-light;
              }
            }
          }
          &.current-menu-item {
            a {
              &:after {
                content: "";
                position: absolute;
                width: 33%;
                height: 2px;
                bottom: 0;
                left: 33%;
                border-bottom: 2px solid $bg-blue-light;
              }
            }
          }
        }
      }
      .menu__reserver {
        border: 1px solid $bg-blue-light;
        transition: all 0.3s ease;
        &:hover {
          background: $bg-blue-light;
        }
        a {
          padding: 10px;
          &:hover {
            &:after {
              border-bottom: 2px solid transparent;
            }
          }
        }
      }
    }
  }
}
