@charset "UTF-8";
/*!
Theme Name: Bar à méditation
Theme URI: http://underscores.me/
Author: Geoff Guillain
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bam
Tags:

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Global
# Header
# Footer
# Elements
# Pages
# Vendors

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Import framework
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/gotham-book-webfont.eot");
  src: local("☺"), url("../fonts/gotham-book-webfont.woff") format("woff"), url("../fonts/gotham-book-webfont.ttf") format("truetype"), url("../fonts/gotham-book-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/gotham-light-webfont.eot");
  src: local("☺"), url("../fonts/gotham-light-webfont.woff") format("woff"), url("../fonts/gotham-light-webfont.ttf") format("truetype"), url("../fonts/gotham-light-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/gotham-bold-webfont.eot");
  src: local("☺"), url("../fonts/gotham-bold-webfont.woff") format("woff"), url("../fonts/gotham-bold-webfont.ttf") format("truetype"), url("../fonts/gotham-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
.screen-reader-text {
  display: none; }

body {
  color: #525564;
  font-family: 'Gotham-Light';
  font-size: 20px;
  line-height: 28px; }

strong {
  font-family: 'Gotham-Bold'; }

.main-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; }
  .main-wrapper::after {
    clear: both;
    content: "";
    display: block; }

h1 {
  line-height: 46px;
  margin-bottom: 40px; }

h2 {
  font-size: 36px; }

.full-width {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .full-width::after {
    clear: both;
    content: "";
    display: block; }

img {
  max-width: 100%;
  height: auto; }

.error-404 {
  padding: 70px 0; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
body {
  margin-top: 219px; }
  @media screen and (max-width: 991px) {
    body {
      margin-top: 166px; } }

.site-header {
  background: #005C6F;
  color: white;
  border-bottom: 10px solid #73C6CD;
  padding: 25px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
  transition: padding 0.2s ease; }
  .site-header.compact {
    padding: 0; }
    .site-header.compact .site-branding {
      line-height: 0; }
      .site-header.compact .site-branding .site-title {
        display: none; }
        .site-header.compact .site-branding .site-title.site-title--compact {
          display: block;
          margin: 14px 0; }
        .site-header.compact .site-branding .site-title img {
          width: 60px; }
    .site-header.compact .main-navigation {
      margin-top: 32px; }
    @media screen and (max-width: 991px) {
      .site-header.compact .site-branding .site-title {
        margin: 15px 0 10px 20px;
        display: none; }
        .site-header.compact .site-branding .site-title.site-title--compact {
          display: block; }
        .site-header.compact .site-branding .site-title img {
          width: 60px; }
      .site-header.compact .main-navigation {
        margin-top: 0; }
        .site-header.compact .main-navigation .menu-toggle {
          top: 26px; }
        .site-header.compact .main-navigation ul.nav-menu {
          top: 121px; } }
  @media screen and (max-width: 991px) {
    .site-header {
      padding: 0; } }
  .site-header .site-branding {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 14.89362%; }
    .site-header .site-branding:last-child {
      margin-right: 0; }
    @media screen and (max-width: 991px) {
      .site-header .site-branding {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 100%; }
        .site-header .site-branding:last-child {
          margin-right: 0; } }
    .site-header .site-branding .site-title {
      margin: 20px 0; }
      .site-header .site-branding .site-title.site-title--compact {
        display: none; }
      @media screen and (max-width: 991px) {
        .site-header .site-branding .site-title {
          margin-left: 20px; } }
      .site-header .site-branding .site-title img {
        width: 125px;
        transition: all 0.2s ease; }
  .site-header .main-navigation {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 82.97872%;
    margin-top: 60px;
    font-size: 18px; }
    .site-header .main-navigation:last-child {
      margin-right: 0; }
    .site-header .main-navigation.toggled ul.nav-menu {
      display: block; }
    @media screen and (max-width: 991px) {
      .site-header .main-navigation {
        background: #005C6F;
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 100%;
        margin-top: 0; }
        .site-header .main-navigation:last-child {
          margin-right: 0; } }
    .site-header .main-navigation .menu-toggle {
      display: none; }
      @media screen and (max-width: 991px) {
        .site-header .main-navigation .menu-toggle {
          display: block;
          position: absolute;
          top: 63px;
          right: 40px;
          transition: all 0.2s ease; } }
    .site-header .main-navigation .hamburger-title {
      display: block;
      font-size: 13px; }
    .site-header .main-navigation ul.nav-menu {
      display: block;
      float: right;
      padding: 0;
      margin: 0;
      list-style-type: none; }
      .site-header .main-navigation ul.nav-menu::after {
        clear: both;
        content: "";
        display: block; }
      @media screen and (max-width: 991px) {
        .site-header .main-navigation ul.nav-menu {
          float: none;
          display: none;
          position: fixed;
          top: 169px;
          bottom: 0;
          left: 0;
          width: 100%;
          overflow-y: scroll;
          overflow-x: hidden;
          background: #005C6F;
          padding: 20px; }
          .site-header .main-navigation ul.nav-menu li.menu-item-has-children a {
            padding: 10px 0 0; } }
      .site-header .main-navigation ul.nav-menu li {
        position: relative;
        display: inline;
        float: left;
        margin-right: 34px; }
        .site-header .main-navigation ul.nav-menu li:last-child {
          margin-right: 0; }
        @media screen and (max-width: 1199px) {
          .site-header .main-navigation ul.nav-menu li {
            margin-right: 20px; } }
        @media screen and (max-width: 991px) {
          .site-header .main-navigation ul.nav-menu li {
            display: block;
            margin: 0;
            float: none; }
            .site-header .main-navigation ul.nav-menu li a:after {
              display: none; } }
        .site-header .main-navigation ul.nav-menu li.current-menu-item a:after, .site-header .main-navigation ul.nav-menu li.current-menu-parent a:after {
          content: "";
          position: absolute;
          width: 33%;
          height: 2px;
          bottom: 0;
          left: 33%;
          border-bottom: 2px solid #73C6CD; }
        .site-header .main-navigation ul.nav-menu li a {
          position: relative;
          display: block;
          text-decoration: none;
          color: #fff;
          padding: 10px 0 15px; }
          .site-header .main-navigation ul.nav-menu li a:after {
            content: "";
            position: absolute;
            width: 33%;
            height: 2px;
            bottom: 0;
            left: 33%;
            border-bottom: 2px solid transparent;
            transition: all 0.3s ease; }
          .site-header .main-navigation ul.nav-menu li a:hover:after {
            border-bottom: 2px solid #73C6CD; }
        .site-header .main-navigation ul.nav-menu li:hover > ul.sub-menu {
          display: block; }
      .site-header .main-navigation ul.nav-menu ul.sub-menu {
        z-index: 100;
        display: none;
        position: absolute;
        min-width: 250px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        background: #fff;
        border-bottom: 8px solid #73C6CD;
        box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
        padding: 0 20px;
        text-align: center;
        font-size: 16px; }
        @media screen and (max-width: 991px) {
          .site-header .main-navigation ul.nav-menu ul.sub-menu {
            display: block;
            position: relative;
            width: 100%;
            text-align: left;
            background: transparent;
            border-bottom: none;
            box-shadow: none; } }
        .site-header .main-navigation ul.nav-menu ul.sub-menu li {
          display: block;
          float: none;
          margin: 10px 0; }
          .site-header .main-navigation ul.nav-menu ul.sub-menu li a {
            color: #005C6F;
            padding: 10px 0; }
            @media screen and (max-width: 991px) {
              .site-header .main-navigation ul.nav-menu ul.sub-menu li a {
                color: #fff; } }
            .site-header .main-navigation ul.nav-menu ul.sub-menu li a:after {
              content: "";
              position: absolute;
              width: 33%;
              height: 2px;
              bottom: 0;
              left: 33%;
              border-bottom: 2px solid transparent; }
            .site-header .main-navigation ul.nav-menu ul.sub-menu li a:hover:after {
              border-bottom: 2px solid #73C6CD; }
          .site-header .main-navigation ul.nav-menu ul.sub-menu li.current-menu-item a:after {
            content: "";
            position: absolute;
            width: 33%;
            height: 2px;
            bottom: 0;
            left: 33%;
            border-bottom: 2px solid #73C6CD; }
      .site-header .main-navigation ul.nav-menu .menu__reserver {
        border: 1px solid #73C6CD;
        transition: all 0.3s ease; }
        .site-header .main-navigation ul.nav-menu .menu__reserver:hover {
          background: #73C6CD; }
        .site-header .main-navigation ul.nav-menu .menu__reserver a {
          padding: 10px; }
          .site-header .main-navigation ul.nav-menu .menu__reserver a:hover:after {
            border-bottom: 2px solid transparent; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
  background: #2F303A;
  border-top: 10px solid #73C6CD;
  margin-top: 50px;
  font-size: 18px;
  color: white;
  padding-top: 60px; }
  .site-footer .footer__info {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%;
    font-size: 14px; }
    .site-footer .footer__info:last-child {
      margin-right: 0; }
    @media screen and (max-width: 991px) {
      .site-footer .footer__info {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 100%;
        margin-bottom: 40px; }
        .site-footer .footer__info:last-child {
          margin-right: 0; } }
    .site-footer .footer__info .f__info__logo img {
      width: 52px; }
  .site-footer .footer__menu {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%; }
    .site-footer .footer__menu:last-child {
      margin-right: 0; }
    @media screen and (max-width: 991px) {
      .site-footer .footer__menu {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 100%;
        margin-bottom: 40px; }
        .site-footer .footer__menu:last-child {
          margin-right: 0; } }
    .site-footer .footer__menu ul {
      padding: 0;
      margin: 0;
      list-style-type: none; }
      .site-footer .footer__menu ul li {
        margin-bottom: 5px;
        display: block; }
        .site-footer .footer__menu ul li a {
          display: inline-block;
          text-decoration: none;
          color: #fff;
          border-bottom: 1px solid transparent; }
          .site-footer .footer__menu ul li a:hover {
            border-bottom: 1px solid #73C6CD; }
      .site-footer .footer__menu ul ul.sub-menu {
        display: none; }
  .site-footer .footer__newsletter {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-right: 0; }
    .site-footer .footer__newsletter:last-child {
      margin-right: 0; }
    @media screen and (max-width: 991px) {
      .site-footer .footer__newsletter {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 100%; }
        .site-footer .footer__newsletter:last-child {
          margin-right: 0; } }
    .site-footer .footer__newsletter form {
      margin-top: 20px; }
      .site-footer .footer__newsletter form input {
        padding: 5px;
        width: 80%;
        background: none;
        outline: none;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #fff; }
      .site-footer .footer__newsletter form .newsletter__btn {
        -webkit-appearance: none;
        border: 0;
        background: none;
        width: 10%; }
  .site-footer .footer__cred {
    margin-top: 70px;
    font-size: 13px;
    padding: 3px;
    text-align: center;
    background: #24242c; }
    .site-footer .footer__cred ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .site-footer .footer__cred ul li {
        display: inline-block;
        border-right: 1px solid #5d5f72;
        padding: 0 10px; }
        .site-footer .footer__cred ul li:last-of-type {
          border-right: none; }
        @media screen and (max-width: 767px) {
          .site-footer .footer__cred ul li {
            display: block;
            padding: 0;
            border: none; } }
        .site-footer .footer__cred ul li a {
          color: #fff;
          text-decoration: none; }

.anamorphik-sign {
  vertical-align: middle;
  display: inline-block;
  line-height: 13px; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.btn {
  display: inline-block;
  color: #fff;
  background: #73C6CD;
  font-size: 18px;
  border: 2px solid #73C6CD;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s ease; }
  .btn.btn--light {
    background: none;
    border: 2px solid #73C6CD;
    color: #525564; }
  .btn.btn--inverted {
    border: 2px solid #fff;
    color: #fff; }
  .btn.btn--large {
    font-size: 20px;
    font-family: "Gotham-Bold"; }
  .btn:hover {
    color: #fff;
    background: #40aab3;
    border: 2px solid #73C6CD; }

.wpcf7-form input {
  padding: 10px; }

.contact-form .cf__wrap {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 48.93617%; }
  .contact-form .cf__wrap:last-child {
    margin-right: 0; }
  @media screen and (max-width: 991px) {
    .contact-form .cf__wrap {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 100%; }
      .contact-form .cf__wrap:last-child {
        margin-right: 0; } }

.contact-form input {
  width: 100%; }

.contact-form textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
.h__hero {
  background: #dadada;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 510px;
  text-align: center;
  padding: 110px 0; }
  .h__hero header {
    font-size: 48px;
    line-height: 48px;
    color: white;
    margin-bottom: 80px; }
  .h__hero .hero__btn .btn {
    width: 320px; }
    @media screen and (max-width: 767px) {
      .h__hero .hero__btn .btn {
        width: 100%; } }

.h__intro {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 65.95745%;
  margin-left: 17.02128%;
  font-size: 26px;
  line-height: 34px;
  margin-top: 70px;
  margin-bottom: 90px;
  text-align: center; }
  .h__intro:last-child {
    margin-right: 0; }
  @media screen and (max-width: 767px) {
    .h__intro {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 100%;
      margin-left: 0%; }
      .h__intro:last-child {
        margin-right: 0; } }

.h__seances {
  margin-bottom: 90px; }
  .h__seances h2 {
    text-align: center;
    margin-bottom: 90px;
    text-transform: uppercase; }
    .h__seances h2 span {
      position: relative;
      padding-bottom: 15px; }
      .h__seances h2 span:after {
        content: "";
        position: absolute;
        width: 33%;
        height: 2px;
        bottom: 0;
        left: 33%;
        border-bottom: 2px solid #73C6CD; }
  .h__seances p {
    text-align: center; }
  .h__seances ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .h__seances ul li {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 23.40426%;
      text-align: center;
      margin-bottom: 70px; }
      .h__seances ul li:last-child {
        margin-right: 0; }
      .h__seances ul li:nth-child(4n) {
        margin-right: 0; }
      .h__seances ul li:nth-child(4n+1) {
        clear: left; }
      @media screen and (max-width: 991px) {
        .h__seances ul li {
          float: left;
          display: block;
          margin-right: 2.12766%;
          width: 48.93617%; }
          .h__seances ul li:last-child {
            margin-right: 0; }
          .h__seances ul li:nth-child(2n) {
            margin-right: 0; }
          .h__seances ul li:nth-child(2n+1) {
            clear: left; } }
      .h__seances ul li a {
        display: block;
        text-decoration: none;
        color: #525564; }
        .h__seances ul li a .seances__icon img {
          width: 84px;
          height: 121px; }
        .h__seances ul li a .seances__title {
          font-size: 24px; }

.h__inter {
  background: #dadada;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 480px;
  text-align: center;
  padding: 110px 0; }
  .h__inter .inter__content {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 65.95745%;
    margin-left: 17.02128%;
    font-size: 36px;
    line-height: 42px;
    color: white;
    margin-bottom: 40px; }
    .h__inter .inter__content:last-child {
      margin-right: 0; }
    @media screen and (max-width: 767px) {
      .h__inter .inter__content {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 100%;
        margin-left: 0%;
        font-size: 30px;
        line-height: 36px; }
        .h__inter .inter__content:last-child {
          margin-right: 0; } }

.h__map-access {
  margin-bottom: 90px;
  background: #73C6CD; }
  .h__map-access .h__map {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%; }
    .h__map-access .h__map:last-child {
      margin-right: 0; }
    @media screen and (max-width: 991px) {
      .h__map-access .h__map {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 100%; }
        .h__map-access .h__map:last-child {
          margin-right: 0; } }
    .h__map-access .h__map #map {
      width: 100%;
      height: 475px;
      background-color: grey; }
      @media screen and (max-width: 1199px) {
        .h__map-access .h__map #map {
          height: 500px; } }
  .h__map-access .h__access {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 48.93617%;
    margin-right: 0;
    color: white;
    padding: 40px 0; }
    .h__map-access .h__access:last-child {
      margin-right: 0; }
    @media screen and (max-width: 991px) {
      .h__map-access .h__access {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 100%;
        padding: 30px; }
        .h__map-access .h__access:last-child {
          margin-right: 0; } }
    .h__map-access .h__access .access__horaires, .h__map-access .h__access .access__phone, .h__map-access .h__access .access__address {
      margin-bottom: 10px; }
    .h__map-access .h__access .access__transport {
      font-size: 16px;
      border-top: 1px solid #C7E6E8;
      padding-top: 10px;
      margin-top: 10px;
      max-width: 450px; }
      .h__map-access .h__access .access__transport .transport__title {
        float: left;
        width: 80px; }
      .h__map-access .h__access .access__transport .transport__items {
        float: left; }
        .h__map-access .h__access .access__transport .transport__items ul {
          list-style-type: none;
          margin: 0;
          padding: 0; }
      .h__map-access .h__access .access__transport .transport__metro, .h__map-access .h__access .access__transport .transport__bus, .h__map-access .h__access .access__transport .transport__rer, .h__map-access .h__access .access__transport .transport__parking {
        display: block;
        margin-bottom: 10px; }
        .h__map-access .h__access .access__transport .transport__metro::after, .h__map-access .h__access .access__transport .transport__bus::after, .h__map-access .h__access .access__transport .transport__rer::after, .h__map-access .h__access .access__transport .transport__parking::after {
          clear: both;
          content: "";
          display: block; }

.h__equipe {
  margin-bottom: 90px; }
  .h__equipe h2 {
    text-align: center;
    margin-bottom: 70px;
    text-transform: uppercase; }
    .h__equipe h2 span {
      position: relative;
      padding-bottom: 15px; }
      .h__equipe h2 span:after {
        content: "";
        position: absolute;
        width: 33%;
        height: 2px;
        bottom: 0;
        left: 33%;
        border-bottom: 2px solid #73C6CD; }
  .h__equipe p {
    text-align: center; }
  .h__equipe ul {
    display: block;
    margin: 70px 0;
    padding: 0;
    list-style-type: none; }
    .h__equipe ul::after {
      clear: both;
      content: "";
      display: block; }
    .h__equipe ul li {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 23.40426%;
      text-align: center;
      font-size: 24px; }
      .h__equipe ul li:last-child {
        margin-right: 0; }
      .h__equipe ul li:nth-child(4n) {
        margin-right: 0; }
      .h__equipe ul li:nth-child(4n+1) {
        clear: left; }
      @media screen and (max-width: 991px) {
        .h__equipe ul li {
          float: left;
          display: block;
          margin-right: 2.12766%;
          width: 48.93617%;
          padding: 0 20px; }
          .h__equipe ul li:last-child {
            margin-right: 0; }
          .h__equipe ul li:nth-child(2n) {
            margin-right: 0; }
          .h__equipe ul li:nth-child(2n+1) {
            clear: left; } }
      .h__equipe ul li img {
        width: 160px;
        height: 160px;
        border-radius: 160px;
        padding: 4px;
        background: linear-gradient(#DCEBDC, #DEB5E2); }
        @media screen and (max-width: 767px) {
          .h__equipe ul li img {
            width: 100%;
            height: 100%; } }
  @media screen and (max-width: 767px) {
    .h__equipe .btn {
      display: block; } }

.h__salle {
  background: #dadada;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 510px;
  margin-bottom: 90px; }
  @media screen and (max-width: 767px) {
    .h__salle {
      min-height: 250px; } }

.h__tarif {
  margin-bottom: 90px; }
  .h__tarif h2 {
    text-align: center;
    margin-bottom: 70px;
    text-transform: uppercase; }
    .h__tarif h2 span {
      position: relative;
      padding-bottom: 15px; }
      .h__tarif h2 span:after {
        content: "";
        position: absolute;
        width: 33%;
        height: 2px;
        bottom: 0;
        left: 33%;
        border-bottom: 2px solid #73C6CD; }
  .h__tarif p {
    text-align: center; }
  .h__tarif .tarif__content {
    margin-bottom: 70px; }
  .h__tarif .btn {
    margin-right: 20px; }
    @media screen and (max-width: 767px) {
      .h__tarif .btn {
        display: block;
        margin-bottom: 20px;
        margin-right: 0; } }

.equipe {
  margin-top: 90px;
  display: block; }
  .equipe::after {
    clear: both;
    content: "";
    display: block; }
  .equipe ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .equipe ul li {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 100%;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #eaeaea; }
      .equipe ul li:last-child {
        margin-right: 0; }
      .equipe ul li:last-of-type {
        border-bottom: none; }
      .equipe ul li .equipe__image {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 23.40426%;
        text-align: center; }
        .equipe ul li .equipe__image:last-child {
          margin-right: 0; }
        @media screen and (max-width: 767px) {
          .equipe ul li .equipe__image {
            float: left;
            display: block;
            margin-right: 2.12766%;
            width: 100%; }
            .equipe ul li .equipe__image:last-child {
              margin-right: 0; } }
        .equipe ul li .equipe__image img {
          width: 100%;
          border-radius: 300px;
          padding: 4px;
          background: linear-gradient(#DCEBDC, #DEB5E2); }
          @media screen and (max-width: 767px) {
            .equipe ul li .equipe__image img {
              width: 80%; } }
      .equipe ul li .equipe__content-wrap {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 74.46809%; }
        .equipe ul li .equipe__content-wrap:last-child {
          margin-right: 0; }
        @media screen and (max-width: 767px) {
          .equipe ul li .equipe__content-wrap {
            float: left;
            display: block;
            margin-right: 2.12766%;
            width: 100%; }
            .equipe ul li .equipe__content-wrap:last-child {
              margin-right: 0; } }
        @media screen and (max-width: 767px) {
          .equipe ul li .equipe__content-wrap .equipe__titre {
            text-align: center; } }

.seances {
  margin-top: 90px;
  display: block; }
  .seances::after {
    clear: both;
    content: "";
    display: block; }
  .seances ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .seances ul li {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 100%;
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #eaeaea; }
      .seances ul li:last-child {
        margin-right: 0; }
      .seances ul li:last-of-type {
        border-bottom: none; }
      .seances ul li .seances__image {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 14.89362%;
        text-align: center; }
        .seances ul li .seances__image:last-child {
          margin-right: 0; }
        @media screen and (max-width: 767px) {
          .seances ul li .seances__image {
            float: left;
            display: block;
            margin-right: 2.12766%;
            width: 100%; }
            .seances ul li .seances__image:last-child {
              margin-right: 0; } }
        .seances ul li .seances__image img {
          width: 80%; }
          @media screen and (max-width: 767px) {
            .seances ul li .seances__image img {
              max-width: 176px; } }
      .seances ul li .seances__content-wrap {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 82.97872%; }
        .seances ul li .seances__content-wrap:last-child {
          margin-right: 0; }
        @media screen and (max-width: 767px) {
          .seances ul li .seances__content-wrap {
            float: left;
            display: block;
            margin-right: 2.12766%;
            width: 100%; }
            .seances ul li .seances__content-wrap:last-child {
              margin-right: 0; } }
        @media screen and (max-width: 767px) {
          .seances ul li .seances__content-wrap .seances__titre {
            text-align: center; } }

.programmes .pricing-table {
  margin: 40px 0 0; }

.tarif__bloc_texte {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
  margin-bottom: 70px; }
  .tarif__bloc_texte:last-child {
    margin-right: 0; }

.pricing-table {
  display: block;
  margin-bottom: 70px; }
  .pricing-table::after {
    clear: both;
    content: "";
    display: block; }
  .pricing-table ul {
    margin: 0;
    padding: 0; }
    .pricing-table ul li {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 23.40426%;
      margin-left: 6.38298%;
      text-align: center;
      border: 1px solid #eaeaea; }
      .pricing-table ul li:last-child {
        margin-right: 0; }
      @media screen and (max-width: 991px) {
        .pricing-table ul li {
          float: left;
          display: block;
          margin-right: 2.12766%;
          width: 31.91489%;
          margin-left: 0%; }
          .pricing-table ul li:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 767px) {
        .pricing-table ul li {
          float: left;
          display: block;
          margin-right: 2.12766%;
          width: 100%;
          margin-bottom: 50px; }
          .pricing-table ul li:last-child {
            margin-right: 0; } }
      .pricing-table ul li .pricing__title {
        padding: 40px 20px 20px;
        font-size: 30px; }
        .pricing-table ul li .pricing__title span {
          position: relative;
          padding-bottom: 15px; }
          .pricing-table ul li .pricing__title span:after {
            content: "";
            position: absolute;
            width: 33%;
            height: 2px;
            bottom: 0;
            left: 33%;
            border-bottom: 2px solid #73C6CD; }
      .pricing-table ul li .pricing__price {
        padding: 40px 20px;
        font-size: 24px;
        font-family: 'Gotham-Bold'; }
      .pricing-table ul li .pricing__cta .btn {
        display: block; }

.lieu__bloc_texte {
  margin-bottom: 70px; }
  @media screen and (max-width: 767px) {
    .lieu__bloc_texte {
      margin-bottom: 30px; } }

.lieu__levels ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  .lieu__levels ul li {
    background: #efefef;
    display: block; }
    @media screen and (max-width: 767px) {
      .lieu__levels ul li {
        background: none;
        margin-bottom: 30px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start; } }
    .lieu__levels ul li::after {
      clear: both;
      content: "";
      display: block; }
    .lieu__levels ul li .lieu__description {
      width: 50%;
      padding: 60px;
      float: left; }
      @media screen and (max-width: 767px) {
        .lieu__levels ul li .lieu__description {
          width: 100%;
          padding: 0;
          -webkit-box-ordinal-group: 1;
          -moz-box-ordinal-group: 1;
          -ms-flex-order: 1;
          -webkit-order: 1;
          order: 1; } }
    .lieu__levels ul li .lieu__img {
      line-height: 0;
      width: 50%;
      height: 100%;
      background: #efefef;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 500px;
      float: left; }
      @media screen and (max-width: 767px) {
        .lieu__levels ul li .lieu__img {
          width: 100%;
          min-height: 200px;
          padding: 0;
          -webkit-box-ordinal-group: 2;
          -moz-box-ordinal-group: 2;
          -ms-flex-order: 2;
          -webkit-order: 2;
          order: 2; } }

body.page article {
  padding: 70px 0; }

.p__hero {
  background: #dadada;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  text-align: center;
  padding: 120px 0; }
  .p__hero header {
    color: white;
    line-height: 46px; }

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * 3DX
   */
.hamburger--3dx .hamburger-box {
  -webkit-perspective: 80px;
  perspective: 80px; }

.hamburger--3dx .hamburger-inner {
  transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DX Reverse
   */
.hamburger--3dx-r .hamburger-box {
  -webkit-perspective: 80px;
  perspective: 80px; }

.hamburger--3dx-r .hamburger-inner {
  transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
    transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY
   */
.hamburger--3dy .hamburger-box {
  -webkit-perspective: 80px;
  perspective: 80px; }

.hamburger--3dy .hamburger-inner {
  transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
    transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent;
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg); }
  .hamburger--3dy.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * 3DY Reverse
   */
.hamburger--3dy-r .hamburger-box {
  -webkit-perspective: 80px;
  perspective: 80px; }

.hamburger--3dy-r .hamburger-inner {
  transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
    transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/*
   * Arrow
   */
.hamburger--arrow.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1);
  transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

.hamburger--arrow.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1);
  transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
   * Arrow Right
   */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1);
  transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }

.hamburger--arrow-r.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1);
  transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
   * Arrow Alt
   */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transform: translate3d(-8px, -10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transform: translate3d(-8px, 10px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Arrow Alt Right
   */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: top 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: bottom 0.1s 0.15s ease, transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.15s cubic-bezier(0.165, 0.84, 0.44, 1); }

.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transform: translate3d(8px, -10px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: top 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transform: translate3d(8px, 10px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: bottom 0.1s ease, transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22), -webkit-transform 0.15s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
   * Boring
   */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }

.hamburger--boring.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

/*
   * Collapse
   */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Collapse Reverse
   */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--collapse-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(45deg);
  transform: translate3d(0, -10px, 0) rotate(45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Elastic
   */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.15s 0.4s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.1s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-270deg);
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.1s; }

/*
   * Elastic Reverse
   */
.hamburger--elastic-r .hamburger-inner {
  top: 2px;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.15s 0.4s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 20px;
    transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.hamburger--elastic-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(-135deg);
  transform: translate3d(0, 10px, 0) rotate(-135deg);
  transition-delay: 0.1s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -20px, 0) rotate(270deg);
    transform: translate3d(0, -20px, 0) rotate(270deg);
    transition-delay: 0.1s; }

/*
   * Emphatic
   */
.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.2s 0.25s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: top 0.05s 0.2s linear, left 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in;
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
    .hamburger--emphatic .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: top 0.05s 0.2s linear, right 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in;
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      transition: left 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transition: right 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Emphatic Reverse
   */
.hamburger--emphatic-r {
  overflow: hidden; }
  .hamburger--emphatic-r .hamburger-inner {
    transition: background-color 0.2s 0.25s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::before {
      left: 0;
      transition: top 0.05s 0.2s linear, left 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in;
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
    .hamburger--emphatic-r .hamburger-inner::after {
      top: 10px;
      right: 0;
      transition: top 0.05s 0.2s linear, right 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in;
      transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  .hamburger--emphatic-r.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic-r.is-active .hamburger-inner::before {
      left: -80px;
      top: 80px;
      -webkit-transform: translate3d(80px, -80px, 0) rotate(-45deg);
      transform: translate3d(80px, -80px, 0) rotate(-45deg);
      transition: left 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic-r.is-active .hamburger-inner::after {
      right: -80px;
      top: 80px;
      -webkit-transform: translate3d(-80px, -80px, 0) rotate(45deg);
      transform: translate3d(-80px, -80px, 0) rotate(45deg);
      transition: right 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    transition-timing-function: ease;
    transition-duration: 0.2s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
  top: 2px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    transition-timing-function: ease;
    transition-duration: 0.2s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
  transform: translate3d(0, 10px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    -webkit-transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(0, -20px, 0) rotate(90deg);
    transform: translate3d(0, -20px, 0) rotate(90deg); }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  transition: background-color 0s 0.15s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.32s;
  background-color: transparent; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.15s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.32s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.32s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.32s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand
   */
.hamburger--stand .hamburger-inner {
  transition: background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear;
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::before {
    transition: top 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::after {
    transition: bottom 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand.is-active .hamburger-inner {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: transparent;
  transition: background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear;
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: top 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: bottom 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Stand Reverse
   */
.hamburger--stand-r .hamburger-inner {
  transition: background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear;
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear, -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand-r .hamburger-inner::before {
    transition: top 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand-r .hamburger-inner::after {
    transition: bottom 0.1s 0.1s ease-in, -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--stand-r.is-active .hamburger-inner {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: transparent;
  transition: background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear;
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear, -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand-r.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: top 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand-r.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: bottom 0.1s 0.12s ease-out, -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Spin Reverse
   */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin-r.is-active .hamburger-inner {
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.1s 0.14s ease, opacity 0.1s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
   * Vortex
   */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
    transition-property: bottom, transform, -webkit-transform; }

.hamburger--vortex.is-active .hamburger-inner {
  -webkit-transform: rotate(765deg);
  -ms-transform: rotate(765deg);
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

/*
   * Vortex Reverse
   */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex-r .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex-r .hamburger-inner::after {
    transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
    transition-property: bottom, transform, -webkit-transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  -webkit-transform: rotate(-765deg);
  -ms-transform: rotate(-765deg);
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

/*# sourceMappingURL=style.css.map */