.equipe {
  margin-top: 90px;
  @include row;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      @include span-columns(12);
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid $border;
      &:last-of-type {
        border-bottom: none;
      }
      .equipe__image {
        @include span-columns(3);
        text-align: center;
        @include media($mobile) {
          @include span-columns(12);
        }
        img {
          width: 100%;
          @include media($mobile) {
            width: 80%;
          }
          border-radius: 300px;
          padding: 4px;
          background: linear-gradient($bg-green, $bg-pink);
        }
      }
      .equipe__content-wrap {
        @include span-columns(9);
        @include media($mobile) {
          @include span-columns(12);
        }
        .equipe__titre {
          @include media($mobile) {
            text-align: center;
          }
        }
        .equipe__content {

        }
      }
    }
  }
}
