.h__hero {
  background: #dadada;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 510px;
  text-align: center;
  padding: 110px 0;
  header {
    font-size: 48px;
    line-height: 48px;
    color: white;
    margin-bottom: 80px;
  }
  .hero__btn {
    .btn {
      width: 320px;
      @include media($mobile) {
        width: 100%;
      }
    }
  }
}


.h__intro {
  @include span-columns(8);
  @include shift(2);
  @include media($mobile) {
    @include span-columns(12);
    @include shift(0);
  }
  font-size: 26px;
  line-height: 34px;
  margin-top: 70px;
  margin-bottom: 90px;
  text-align: center;
}

.h__seances {
  margin-bottom: 90px;
  h2 {
    text-align: center;
    margin-bottom: 90px;
    text-transform: uppercase;
    @include small-underline;
  }
  p {
    text-align: center;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      @include span-columns(3);
      @include omega(4n);
      @include media($tablet) {
        @include span-columns(6);
        @include omega(2n);
      }
      text-align: center;
      margin-bottom: 70px;
      a {
        display: block;
        text-decoration: none;
        color: $text;
        .seances__icon {
          img {
            width: 84px;
            height: 121px;
          }
        }
        .seances__title {
          font-size: 24px;
        }
      }
    }
  }
}


.h__inter {
  background: #dadada;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 480px;
  text-align: center;
  padding: 110px 0;
  .inter__content {
    @include span-columns(8);
    @include shift(2);
    font-size: 36px;
    line-height: 42px;
    color: white;
    margin-bottom: 40px;
    @include media($mobile) {
      @include span-columns(12);
      @include shift(0);
      font-size: 30px;
      line-height: 36px;
    }
  }
}

.h__map-access {
  margin-bottom: 90px;
  background: $bg-blue-light;
  .h__map {
    @include span-columns(6);
    @include media($tablet) {
      @include span-columns(12);
    }
    #map {
      //z-index:1;
     width: 100%;
     height: 475px;
     background-color: grey;
     @include media($large) {
       height: 500px;
     }
   }
  }

  .h__access {
    @include span-columns(6);
    @include omega;
    @include media($tablet) {
      @include span-columns(12);
      padding: 30px;
    }
    color: white;
    padding: 40px 0;
    .access__horaires, .access__phone, .access__address {
      margin-bottom: 10px;
    }
    .access__transport {
      font-size: 16px;
      border-top: 1px solid $bg-blue-ultra-light;
      padding-top: 10px;
      margin-top: 10px;
      max-width: 450px;
      .transport__title {
        float: left;
        width: 80px;
      }
      .transport__items {
        float: left;
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
      }
      .transport__metro, .transport__bus, .transport__rer, .transport__parking {
        @include row;
        margin-bottom: 10px;
      }
    }
  }
}

.h__equipe {
  margin-bottom: 90px;
  h2 {
    text-align: center;
    margin-bottom: 70px;
    text-transform: uppercase;
    @include small-underline;
  }
  p {
    text-align: center;
  }
  ul {
    @include row;
    margin: 70px 0;
    padding: 0;
    list-style-type: none;
    li {
      @include span-columns(3);
      @include omega(4n);
      @include media($tablet) {
        @include span-columns(6);
        @include omega(2n);
        padding: 0 20px;
      }
      text-align: center;
      font-size: 24px;
      img {
        width: 160px;
        height: 160px;
        border-radius: 160px;
        padding: 4px;
        background: linear-gradient($bg-green, $bg-pink);
        @include media($mobile) {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .btn {
    @include media($mobile) {
      display: block;
    }
  }
}


.h__salle {
  background: #dadada;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 510px;
  margin-bottom: 90px;
  @include media($mobile) {
    min-height: 250px;
  }
}

.h__tarif {
  margin-bottom: 90px;
  h2 {
    text-align: center;
    margin-bottom: 70px;
    text-transform: uppercase;
    @include small-underline;
  }
  p {
    text-align: center;
  }
  .tarif__content {
    margin-bottom: 70px;
  }
  .btn {
    margin-right: 20px;
    @include media($mobile) {
      display: block;
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
}
