.lieu__bloc_texte {
  margin-bottom: 70px;
  @include media($mobile) {
    margin-bottom: 30px;
  }
}

.lieu__levels {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      background: #efefef;
      @include media($mobile) {
        background: none;
        margin-bottom: 30px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        /* optional */
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
      }
      @include row;
      .lieu__description {
        width: 50%;
        padding: 60px;
        float: left;
        @include media($mobile) {
          width: 100%;
          padding: 0;
          //margin-bottom: 30px;
          -webkit-box-ordinal-group: 1;
          -moz-box-ordinal-group: 1;
          -ms-flex-order: 1;
          -webkit-order: 1;
          order: 1;
        }
      }
      .lieu__img {
        line-height: 0;
        width: 50%;
        height: 100%;
        background: #efefef;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 500px;
        float: left;
        @include media($mobile) {
          width: 100%;
          min-height: 200px;
          padding: 0;
          -webkit-box-ordinal-group: 2;
          -moz-box-ordinal-group: 2;
          -ms-flex-order: 2;
          -webkit-order: 2;
          order: 2;
        }
      }
    }
  }
}
