@import 'homepage';
@import 'equipe';
@import 'seances';
@import 'tarif';
@import 'lieu';


body.page {
  article {
    padding: 70px 0;
  }
}
.p__hero {
  background: #dadada;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  text-align: center;
  padding: 120px 0;
  header {
    color: white;
    line-height: 46px;
  }
}
