.seances {
  margin-top: 90px;
  @include row;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      @include span-columns(12);
      margin-bottom: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid $border;
      &:last-of-type {
        border-bottom: none;
      }
      .seances__image {
        @include span-columns(2);
        text-align: center;
        @include media($mobile) {
          @include span-columns(12);
        }
        img {
          width: 80%;
          @include media($mobile) {
            max-width: 176px;
          }
        }
      }
      .seances__content-wrap {
        @include span-columns(10);
        @include media($mobile) {
          @include span-columns(12);
        }
        .seances__titre {
          @include media($mobile) {
            text-align: center;
          }
        }
        .seances__content {

        }
      }
    }
  }
}

.programmes {
  .pricing-table {
    margin: 40px 0 0;
  }
}
