.tarif__bloc_texte {
  @include span-columns(12);
  margin-bottom: 70px;
}
.pricing-table {
  @include row;
  margin-bottom: 70px;
  ul {
    margin: 0;
    padding: 0;
    li {
      @include span-columns(3)
      @include shift(0.75);
      @include media($tablet) {
        @include span-columns(4);
        @include shift(0);
      }
      @include media($mobile) {
        @include span-columns(12);
        margin-bottom: 50px;
      }
      text-align: center;
      border: 1px solid $border;
      .pricing__title {
        padding: 40px 20px 20px;
        font-size: 30px;
        @include small-underline;
      }
      .pricing__price {
        padding: 40px 20px;
        font-size: 24px;
        font-family: 'Gotham-Bold';
      }
      .pricing__cta {
        .btn {
          display: block;
        }
      }
    }
  }

}
