.btn {
  display: inline-block;
  color: $btn-color;
  background: $btn-bg;
  font-size: 18px;
  border: 2px solid $btn-bg;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  &.btn--light {
    background: none;
    border: 2px solid $btn-bg;
    color: $text;
  }
  &.btn--inverted {
    border: 2px solid $btn-color;
    color: $btn-color;
  }
  &.btn--large {
    font-size: 20px;
    font-family: "Gotham-Bold";
  }
  &:hover {
    color: $btn-color;
    background: darken($btn-bg,15);
    border: 2px solid $btn-bg;
  }
}
