.screen-reader-text {
  display: none;
}

body {
  color: $text;
  font-family: 'Gotham-Light';
  font-size: 20px;
  line-height: 28px;
}

strong {
  font-family: 'Gotham-Bold';
}

.main-wrapper {
  @include outer-container;
  padding: 0 20px;
}

h1 {
  line-height: 46px;
  margin-bottom: 40px;
}
h2 {
  font-size: 36px;
}


.full-width {
  @include outer-container(100%);
}


img {
  max-width:100%;
  height:auto;
}


.error-404 {
  padding: 70px 0;
}
