@mixin small-underline {
  span {
    position: relative;
    padding-bottom: 15px;
    &:after {
      content: "";
      position: absolute;
      width: 33%;
      height: 2px;
      bottom: 0;
      left: 33%;
      border-bottom: 2px solid $bg-blue-light;
    }
  }
}
