$bam: #005C6F;

$bg-blue-light: #73C6CD;
$bg-blue-ultra-light: #C7E6E8;
$bg-footer: #2F303A;
$bg-subfooter: #1E1F22;

$bg-pink: #DEB5E2;
$bg-green: #DCEBDC;

$text: #525564;
$menu-link: #fff;

$border: #eaeaea;

$btn-color: #fff;
$btn-bg: #73C6CD;

$btn-color-inverted: none;
