.site-footer {
  background: $bg-footer;
  border-top: 10px solid $bg-blue-light;
  margin-top: 50px;
  font-size: 18px;
  color: white;
  padding-top: 60px;
  .footer__info {
    @include span-columns(4);
    @include media($tablet) {
      @include span-columns(12);
      margin-bottom: 40px;
    }
    font-size: 14px;
    .f__info__logo {
      img {
        width: 52px;
      }
    }
    .f__info__coord {

    }
  }

  .footer__menu {
    @include span-columns(4);
    @include media($tablet) {
      @include span-columns(12);
      margin-bottom: 40px;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      li {
        margin-bottom: 5px;
        display: block;
        a {
          display: inline-block;
          text-decoration: none;
          color: $menu-link;
          border-bottom: 1px solid transparent;
          &:hover {
            border-bottom: 1px solid $bg-blue-light;
          }
        }
      }
      ul.sub-menu {
        display: none;
      }
    }
  }

  .footer__newsletter {
    @include span-columns(4);
    @include omega;
    @include media($tablet) {
      @include span-columns(12);
    }
    form {
      margin-top: 20px;
      input {
        padding: 5px;
        width: 80%;
        background: none;
        outline: none;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #fff;
      }
      .newsletter__btn {
        -webkit-appearance: none;
        border: 0;
        background: none;
        width: 10%;
      }
    }
  }
  .footer__cred {
    margin-top: 70px;
    font-size: 13px;
    padding: 3px;
    text-align: center;
    background: darken($bg-footer, 5);
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        border-right: 1px solid lighten($bg-footer, 20);
        padding: 0 10px;
        &:last-of-type {
          border-right: none;
        }
        @include media($mobile) {
          display: block;
          padding: 0;
          border: none;
        }
        a {
          color : #fff;
          text-decoration: none;
        }
      }
    }
  }
}


.anamorphik-sign {
  vertical-align: middle;
  display: inline-block;
  line-height: 13px;
}
